*{
    margin: 0;
    padding: 0;
}

body {
    color: var(--textColor);
    font-family: var(--titleFont);
    height: 100vh;
    background: rgb(12,24,33);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(12,24,33,1) 36%, rgba(72,71,78,1) 70%, rgba(204,201,220,1) 100%);
}

:root {
    --background: #324A5F;
    --titleFont: "Helvetica";
    --textColor: rgba(204,201,220,1)
}

@font-face {
    font-family: "Helvetica";
    src: url(../FONTS/Helvetica.ttf);
}

.logoA{
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#mainImage{
    width: 300px;
    height: 100%;
}

.logoInfoContainer {
    display: flex;
    align-items: center;
}

.info{
    font-size: 20px;
    margin-left: 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    top: 0;
    position: sticky;
}

.menu {
    font-size: 20px;
}

.menu .menuItem a{
    color: var(--textColor);
    padding: 2px;
    text-decoration: none;
    margin-bottom: 5px;
}

.texteContainer {
    margin: 50px;
    width: 35%;
}

.intro {
    font-size: 65px;
}
.texte {
    margin-top: 20px;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
    /* background: -webkit-linear-gradient(rgba(204,201,220,1) 0%, rgba(0,0,0,1) 50%, rgba(12,24,33,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  */
}

.containerLogoTexte{
    display: flex;
    justify-content: space-between;
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .icons{
    margin-right: 5%;
    text-decoration: none;
    color: #000;
}
